
main{
  padding: 6%;
  text-align: center;
  box-sizing: border-box;
}

header {
  position: absolute;
  display:inline-flex;
  left: 0%;
  top: 3%;
  padding: 2%;
  text-align: center;
  width: 100%;
  
}

header a{
  text-decoration: none;
  transition: .5s;
  color: white;
  font-size:x-large;
}

.navbar a:hover {
  transform: scale(1.5);
}


.home{
  height:100vh;
  background-color: #394B38;
  color: #EFB346;
  font-family: Marker Felt, fantasy;
}

.about{
  background-color: #F5F1E4;
  height: 100vh;
}

.about img {
  border-radius: 50%;
}


.about-content button{
  background-color: #EFB346;
  border-style: dashed;
  border-color: aliceblue;
  color:white;
  font-family: Marker Felt, fantasy;
}

.skill-edu{
  background-color: #394B38;
  height:80vh;
  color:white;
}

.experience{
  background-color: #EFB346;
  height:100vh;
}

.experience .text{
  border-radius: 25px;
    border-style: dashed;
    border-width: 5px;
}

footer{
  background-color: #141517;
  color: white;
  padding:3%;
  box-sizing: border-box;
}

.title{
  color: #EFB346;
  font-family: Marker Felt, fantasy;
  font-size: xx-large;
}

.logo {
  color:white;
}

.text{
  text-align: left;
}


.row{
  box-sizing: border-box;
  
}